@model IEnumerable<InventarioSoporteAtentoArg.Models.ObjectType>

@{
    ViewBag.Title = "Inicio";
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", new { }, new { @class = "btn btn-primary btn-sm" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.objectTypeID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.objectTypeID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.objectTypeID })
        </td>
    </tr>
}

</table>
